{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Annulation du paiement</h1>
    <div class="text-center mt-4">
        <a href="{{ path('cart') }}" class="btn btn-primary">Retourner au panier</a>
    </div>
</div>
{% endblock %}